<footer class="container-fluid menucolor py-5" style="margin-top: 90px">
  <div class="row">
    <div class="col-12 col-md text-center">
      <small class="d-block mb-3 text-light">&copy; 2021 DENİZ BALCI </small>
    </div>
  </div>
</footer>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hazırlanıyor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Sayfamızda çalışma mevcuttur ,anlayışınız için teşekkürler
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Kapat
        </button>
      </div>
    </div>
  </div>
</div>
<script src="javascripts/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    feather.replace();
  });
</script>
<script src="javascripts/bootstrap.min.js"></script>

<script src="javascripts/feather.min.js"></script>
