<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs', {active: title}); %>
    <main>
       <section id="#about" class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
          </div>
          <div class="col-md-6 col-sm-12 text-center ">
            <article>
              <header>
                <br>
                <h1>Hakkımızda</h1>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Duis tristique sollicitudin nibh sit. Arcu odio ut sem nulla pharetra diam sit amet. Sed libero enim sed faucibus turpis in. Pharetra sit amet aliquam id diam maecenas ultricies mi. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Risus sed vulputate odio ut enim blandit volutpat maecenas. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Ullamcorper morbi tincidunt ornare massa eget. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Ornare quam viverra orci sagittis eu. Volutpat sed cras ornare arcu dui vivamus. Senectus et netus et malesuada fames ac turpis egestas sed. Consequat ac felis donec et odio pellentesque diam volutpat. Nisi vitae suscipit tellus mauris a diam maecenas. Lacus laoreet non curabitur gravida arcu. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Cursus mattis molestie a
                 iaculis at erat pellentesque adipiscing. Ultrices in iaculis nunc sed augue lacus viverra vitae.
             
      
      
      
            </article>
          </div>
      
          <div class="col-md-3 col-sm-12">
          </div>
      
        </div>
      
      </section>
      </main>

      <%- include('./partials/footer.ejs') %>
    </body>
  </html>
  