<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs', {active: title}); %>
    <main>
      <div class="container text-center mt-3">
        <div class="col-sm-12 text-left mb-3">
          <h1 class="">Geri dönüşüm platformu</h1>
          <p>Anasayfada elimizdeki doğal ve maddi kaynakları nasıl daha tasarruflu kullanabiliriz. Geri dönüşüm için neler yapabiliriz<br>
            birçok farklı sorun için çeşitli tavsiyelerde bulunmak ve etkinlikleri duyurmak adına kuruldu. </p>
        </div>

        <div class="row">
          <div class="col-sm-1"></div>
          <!-- container-->
          <div class="col-sm-8">
            <!-- card deck -->
            <div class="row mb-2">
              <!-- card esya kullanımı-->
              <div class="card col-md-5 col-sm-12 shadow-sm">
                <div class=" card-header  card-header-color  ">
                  <h4 class="my-0 font-weight-normal"> Eşya kullanımının azaltılması ve Bağış</h4>
                </div>
                <div class="card-body">
                 <img src="images/donate.jpeg" class="img-fluid">
                  <ul class="list-unstyled mt-3 mb-2">
                    <li><a href="#"   data-bs-toggle="modal" data-bs-target="#exampleModal" class="donate">Eşya kullanımının azaltılması ve Bağış'ın faydaları</a></li>
                    <li><a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="donate">Bağış için adresler</a></li>
                    
                  </ul>
                 
                </div>
              </div>
               <!-- card esya kullanımı-->
              <!-- card -->
              <div class="col-md-1"></div>
              <!-- card  -->
                <!-- card recycle -->
                <div class="card col-md-5 col-sm-12 shadow-sm">
                  <div class=" card-header  card-header-color  ">
                    <h4 class="my-0 font-weight-normal"> Geri Dönüşüm</h4>
                  </div>
                  <div class="card-body">
                   <img src="img/recycle.jpeg" class="img-fluid">
                    <ul class="list-unstyled mt-3 mb-2">
                      <li><a href="#"   data-bs-toggle="modal" data-bs-target="#exampleModal" class="donate">Geri Dönüşüm Firmaları</a></li>
                      <li><a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="donate">Organizasyonlar</a></li>
                      <li><a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="donate">Kendimiz nasıl geri dönüşüm yapabiliriz.</a></li>
                    </ul>
                   
                  </div>
                </div>
               <!-- card recycle -->
            </div>
            <!-- card deck -->
            <!-- card deck -->
            <div class="row mb-2">
              <!-- card recycle -->
              <div class="card col-md-5 col-sm-12 shadow-sm">
                <div class=" card-header  card-header-color  ">
                  <h4 class="my-0 font-weight-normal"> İsraf Edilen yiyecekler</h4>
                </div>
                <div class="card-body">
                 <img src="img/food-waste.jpg" class="img-fluid">
                  <ul class="list-unstyled mt-3 mb-2">
                    <li><a href="#"   data-bs-toggle="modal" data-bs-target="#exampleModal" class="donate">Yiyecek Bağışı</a></li>
                    <li><a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="donate">Kompostlama</a></li>
        
                  </ul>
                 
                </div>
              </div>
             <!-- card recycle -->
              <!-- card -->
              <div class="col-md-1"></div>
              <!-- card -->
             <!-- card recycle -->
             <div class="card col-md-5 col-sm-12 shadow-sm">
              <div class=" card-header  card-header-color  ">
                <h4 class="my-0 font-weight-normal"> Elektronik Atıklar</h4>
              </div>
              <div class="card-body">
               <img src="img/electronic.jpeg" class="img-fluid">
                <ul class="list-unstyled mt-3 mb-2">
                  <li><a href="#"   data-bs-toggle="modal" data-bs-target="#exampleModal" class="donate">Elektronik atış bağısı</a></li>
                  <li><a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="donate">Batarya ve pillerin geri dönüşümü</a></li>
                  <li><a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="donate">Kendimiz nasıl geri dönüşüm yapabiliriz.</a></li>
                </ul>
               
              </div>
            </div>
           <!-- card recycle -->
            </div>
            <!-- card deck -->
           
          </div>
          <!-- container-->

          <!--sağ  sidebar-->
          <div class="col-sm-3">
            <div class="card bg-light mb-3">
              <div class="card-header card-header-color-1 ">Etkinlikler</div>
              <div class="card-body">
                <ul class="list-unstyled ">
                  <li>  <a href="#"> <i style=" color:#7293AE;" data-feather="clock"></i>12/01/2021 Çöp toplama etkinliği</a></li> 
                <li>  <a href="#"> <i style=" color:#7293AE;" data-feather="clock"></i>18-24 Nisan Geri dönüşüm haftası</a></li> 
                </ul>
                 
               
              </div>
            </div>

            <div class="card bg-light mb-3">
              <div class="card-header card-header-color-2 ">Haberler</div>
              <div class="card-body">
                <ul class="list-unstyled ">
                <li> <a href="#"> <i style=" color:#7293AE;" data-feather="cast"></i>Geri dönüşüm için yeni tasarı</a></li> 
                <li>  <a href="#"> <i style=" color:#7293AE;" data-feather="cast"></i>Pagev başkanından  açıklamalar</a></li> 
                  </ul>
              </div>
            </div>

            
          </div>
          <!--sağ  sidebar-->
        </div>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
